@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/home.css" />

<div class="home_container" >
    <h1 class="fw-bold" >WELCOME TO LINK MANAGEMENT SYSTEM</h1>
    <p>Effortlessly manage your links - retrieve them for future references.</p>
    <a href="/Account/Login" ><button class="btn btn-lg btn-danger">Get Started</button></a>
</div>
